*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box
}

audio{
  position: absolute;
  left: 0;
  top: 5%;
  width: 90px;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E7E7E7;
}

.circle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.egypt{
  width: 80%;
  height: 300px;
}

.wrap-arrow{
  width: 100%;
  margin: 1rem 0;
  position: relative;
}

.wrap-arrow img{
  width: 100px;
  height: 50px;
  position: absolute;
}

.left{
  transform: scale(-1, 1);
  left: 30%;
}

.right{
  right: 30%;
}

.color-green{
  color: green;
}
span{
  font-size: 24px;
  font-weight: 600;
}

#timer{
  font-weight: 600;
  color: green;
  font-size: 24px;
  padding-bottom: 1rem;
}


@media screen and (max-width: 1200px){

  .left{
    left: 33%;
  }

  .right{
    right: 33%;
  }

}

@media screen and (max-width: 992px){

  .left{
    left: 35%;
  }

  .right{
    right: 35%;
  }

}

@media screen and (max-width: 820px){
  .main{
    height: 200vh;
  }

}

@media screen and (max-width: 576px){
  .main{
    height: 100vh;
  }

  .circle img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .wrap-arrow img{
    width: 50px;
    height: 30px;
    position: absolute;
  }

}

